@font-face {
    font-family: 'Pieces';
    src: url('font/pieces.ttf') format('truetype');
}

@font-face {
    font-family: 'Crow';
    src: url('font/crows.ttf') format('truetype');
}

@font-face {
    font-family: 'Song';
    src: url('font/song.ttf') format('truetype');
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/bg4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    background-color: #D7CEB2;
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    background-color: #D2B48C;
    color: #000000;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.header-icon {
    width: 8%; /* Adjust the width as needed */
    height: auto;
    margin: 0 40px; /* Adjust the margin as needed */
}

header h1 {
    font-family: "Song", Arial, sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 0; /* Remove default margin */
}

#imgreemplaza{
    display:none;
    width: 30%;
    height: auto;
    margin: auto;
}

#imgreemplaza1{
    display:block;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #3E2723;
    /* Color de fondo para los elementos del menú */
    display: inline-block;
    width: 100px;
}

nav a:hover {
    background-color: #D2B48C;
    color: #3E2723;
    transition: 0.5s;
}

/*Div del contenido.*/
#content {
    text-align: center;
}

/*Tanlas del contenido, ya que intentaré hacerlo todo en tablas*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
}

th {
    background-color: #3E2723;
    color: white;
}

/*Texto de la intro*/

.styled-paragraphs p {
    margin-bottom: 20px;
}

.styled-paragraphs p:first-child {
    font-size: 1.2em;
    font-weight: bold;
}

.styled-paragraphs p::before {
    font-size: 2em;
    margin-right: 5px;
}

.styled-paragraphs p::after {
    font-size: 2em;
    margin-left: 5px;
}

#mapa {
    width: 80%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    /* Añadir una sombra */
}

/*Iconos de reinos y demás*/
.smallicon {
    width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

/* Estilos para tablas dobles*/
.reinos-container {
    display: flex;
    justify-content: space-around;
}

/*Línea horizontal*/

.reino {
    flex: 1;
    margin: 0 10px;
}

.reino:not(:last-child) {
    border-right: 1px solid #000;
    /* Línea vertical entre elementos */
}

.reino+.reino {
    margin-left: 20px;
    /* Espacio entre elementos */
}

.reino h1 {
    font-family: "Song", Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.reino hr {
    border: 1px solid #000000;
    margin-bottom: 20px;
    width: 80%;
}

.reino h2 {
    font-family: "Pieces", Arial, sans-serif;
    font-size: 40px;
}

/*Imagen grande, revisar*/

#escudo {
    width: 90%;
    height: auto;
}

#descripcion {
    font-size: 14px;
    color: #2d2d2d;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/*HERMANDADES*/

.hermandades-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre elementos de la cuadrícula */
}

.hermandad {
    text-align: center;
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados para estética */
}

.hermandad img {
    width: 100%;
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: contain; /* Ajusta la imagen sin cortar ninguna parte */
    border-radius: 8px; /* Bordes redondeados para estética */
    border: 1px solid #ddd; /* Borde para la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/*LETRAS PERSONAJES*/

/* Estilos para los contenedores de letras y personajes */
.abecedario-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espacio entre elementos de la cuadrícula */
}

.letra-container {
    text-align: center;
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados para estética */
}

.letra-container h1 {
    font-family: "Song", Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0; /* Remove default margin */
    margin-bottom: 5px;
}

.personajes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espacio entre elementos de la cuadrícula */
}

.carta-personaje {
    text-align: center;
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 4px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados para estética */
    font-weight: bold;
}

.carta-personaje P{
    margin: 0px;
    margin-bottom: 5px;
}

.carta-personaje img {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: contain;
    border-radius:30px;
}

/* Estilos para hacer la página receptiva */
@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
    }


    h1 {
        margin: 0; /* Remove default margin for h1 element */
        margin-bottom: 20px;
    }

    .reinos-container {
        flex-direction: column;
        /* Cambiar a diseño de columna en pantallas más pequeñas */
    }

    .reino, .hermandades-grid {
        flex-basis: calc(100% - 20px);
        /* Ajustar el ancho de cada elemento en dispositivos móviles */
        /* 20px es el espacio entre elementos (gap) */
    }

    .hermandades-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Cambiar a diseño de 2 columnas en pantallas más pequeñas */
    }

    .reino + .reino {
        margin-top: 20px;
        /* Agregar espacio entre el segundo div con clase "reino" y las hermandades */
    }

    nav {
        text-align: center;
        display: block; 
    }

    nav a {
        display: block; 
        margin: 15px auto; 
        width: 80%;
        max-width: 300px; 
        padding: 12px; 
        border-radius: 5px;m 
        background-color: #3E2723; 
        color: white; 
        text-decoration: none; 
    }

    header img{
        display:none;
    }

    #container {
        width: 90%;
    }

    .smallicon {
        width: 30%;
        /* Ajustar tamaño de iconos en pantallas pequeñas */
    }

    #imgreemplaza{
        display:block;
    }

    #imgreemplaza1{
        display:none;
    }

    /*QUERY PERSONAJES*/

    /* Styles for the letters of the abecedary */
    .abecedario-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Styles for the character cards */
    .carta-personaje {
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    text-align: center;
    background-color: #333;
    /* Color de fondo para el pie de página */
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}